@charset "UTF-8";

.container {
  text-align: center;
  margin-top: 200px;
}

#value {
  height: 50px;
  width: 200px;
  border: 1px solid #67b2b5;
  border-radius: 10px;
}
#value:focus {
  background-color: aliceblue;
  outline: none;
}

#button {
  width: 90px;
  height: 50px;
  margin: 10px 0;
  cursor: pointer;
  border: 1.5px solid #67b2b5;
  background-color: #67b2b5;
  box-shadow: 1px 3px 2px #aaaaaa;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

#button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: none;
}